@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body {
    background-color: #1e212d;
    color: #eabf9f;
    height: 100vh;
    font-family: "Roboto Mono", monospace;
  }
  
#root {
    height: 100%;
  }
  
.App {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
.pomodoro {
    font-size: 6em;
  }

.btn-container{
    transform: translateX(110px);
}

.btn{
    padding: 10px 25px;
    color:#eabf9f;
    font-size: 1.2rem;
    background-color: transparent;
    border-radius: 10px;
    transition: ease 0.9s;
}

.btn:hover{
    background-color: #eabf9f;
    color: #1e212d;
}



.message {
    font-size: 0.5em;
    min-height: 1.3em;
    margin-bottom: 0.5em;
  }